[init]
	defaultBranch = main
[core]
	editor = vim
	pager = less -R --tabs=4
[user]
	name = Alexandr Malykh
	email = sanko33mavr@ya.ru
[alias]
	st = status
	df = diff
	dfs = diff --staged

	addp = add --patch
	amend = commit --amend
	undo = reset --soft HEAD~1
