[init]
	defaultBranch = main
[core]
	editor = vim
	pager = less -R --tabs=4
[user]
	name = Alexandr Malykh
	email = sanko33mavr@ya.ru
[alias]
	st = status
	df = diff
	dfs = diff --staged

	br = branch
	co = checkout

	addp = add --patch
	amend = commit --amend
	undo = reset --soft HEAD~1

	loga = log --all --oneline --graph
[merge]
	tool = nvimdiff
